# Rust
/target/
**/*.rs.bk
Cargo.lock

# snapd source
snapd/
app-center/

# workshop extras
.workshop.lock
*.sdk

# IDE
.idea/

# Copilot output
commit.message

# Credentials
token

# keys
*.key

# sandbox directories
*sandbox*/**